html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden; 
    height: 100%;
    background-color: black;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  overflow-y: auto; 
  background-color: #000; 
}

.star {
  position: absolute;
  width: 2px; 
  height: 2px; 
  background-color: white; 
  border-radius: 50%;
  opacity: 0.8;
  animation: twinkle infinite; 
}

@keyframes twinkle {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}

.content {
    color: white;
    padding: 20px;
    height: 2000px; 
    text-align: center;
}

.card {
  height: 100%; 
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.card-body {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info{
    padding-left: 20px;
    margin-bottom: 100px;
    flex: 1;
    margin-left: 20px;
}

.nav-link{
    position: relative;
    font-size: 30px;
    transition: color 0.2s ease, font-size 0.2s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #000000, #00e3fc );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.9s ease-in-out;
}

.nav-link:hover {
  color: #ffffff;
  font-size: 31px;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.container {
    display: flex;
    text-align: left;
    padding: 0;
    margin-right: 100px;
    width: auto;
  }

.formatura{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-top: 26px;
    border: solid rgb(255, 208, 0) 10px;
    box-shadow: 0 4px 35px darkorange;
    margin-right: 10px;
}

li{
    font-size: 20px;
}

header{
    font-size: 32px;
    background-color: #181841;
    padding-left: 40px;
    display: flex;
}

footer{
    background-color: #181841;
    color: #ffffff;
    padding-left: 40px;
    margin-top: 100px;
    display: flex;
    height: 100px;
}

/* Animação de digitação */
.typing span {
    display: inline-block;
    opacity: 0;
    animation: typing 0.05s steps(1) forwards;
  }
  
  @keyframes typing {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .jumbotron {
    padding: 50px;
    text-align: center;
  }
  
section{
    border: inherit;
    border-collapse: inherit;
}

.hello{
    background-color: rgb(148, 56, 234);
    text-align: center;
}

.devi{
    text-align: center;
    width: 100%;
    border: 0px;
}

.devicon{
    height: 100px;
    width: 100px;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.devicon:hover{
    height: 102px;
    width: 102px;
}

.devicon:active{
  height: 101px;
  width: 101px;
}

.scout{
    text-align: center;
    font-size: 30px;
    background-color: darkgreen;
    color: black;
}

/* Estilo da div com imagem de fundo 
.background-box {
    width: 100%;
    height: 3000px;
    background-image: url('#');  
    background-size: cover;  
    background-position: center;  
    background-repeat: no-repeat;  
}
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #espaço {
    position: relative;
    height: 450px;
  }
  
  @keyframes blink {
    0% { opacity: 0.3; }
    50% { opacity: 1; }
    100% { opacity: 0.3; }
  }
  
  #terra, #saturno, #marte, #urano, #netuno, #apolo {
    position: absolute;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
  }

  #apolo{
    height: 40px;
    width: 100px;
    background-image: url('./Img/apolo.jpg');
    animation: moveApolo 8s infinite linear;
  }
  
  #terra {
    width: 100px;
    height: 100px;
    background-image: url('./Img/terra.png');
    animation: moveTerra 30s infinite linear;
    top: 25%;
    left: 25%;
  }

  #urano {
    width: 140px;
    height: 140px;
    background-image: url('./Img/urano.png');
    animation: moveUrano 28s infinite linear;
    top: 20%;
    left: 20%;
  }

  #marte {
    width: 80px;
    height: 80px;
    background-image: url('./Img/marte.png');
    animation: moveMarte 50s infinite linear;
    top: 25%;
    left: 25%;
  }

  #saturno {
    width: 160px;
    height: 160px;
    background-image: url('./Img/saturno.png');
    animation: moveSaturno 20s infinite linear;
    top: 10%;
    left: 70%;
  }
  
  #netuno {
    width: 140px;
    height: 140px;
    background-image: url('./Img/netuno.png');
    animation: moveNetuno 40s infinite linear;
    top: 10%;
    left: 70%;
  }

  @keyframes moveTerra {
    0% { top: 20%; left: 20%; }
    100% { top: 80%; left: 50%; }
  }

  @keyframes moveUrano {
    0% { top: 20%; left: 20%; }
    100% { top: 80%; left: 80%; }
  }

  @keyframes moveMarte {
    0% { top: 70%; left: 10%; }
    100% { top: 70%; left: 70%; }
  }

  @keyframes moveApolo {
    0% { top: 70%; left: 0%; }
    100% { top: 70%; left: 100%; }
  }
  
  @keyframes moveSaturno {
    0% { top: 10%; left: 70%; }
    100% { top: 20%; left: 30%; }
  }

  @keyframes moveNetuno {
    0% { top: 10%; left: 70%; }
    100% { top: 90%; left: 90%; }
  }

  @media (max-width: 348px) {
    .container {
      max-width: 100%;
    }

    .github_stats{
      width: 300px;
    }
  
    .formatura {
      max-width: 140px; 
      max-height: 140px;
    }
  
    .card {
      padding: 15px;
    }
  
    .info h1 {
      word-wrap: break-word;
      overflow-wrap: break-word;
      max-width: 130%; 
    }

    .info p {
      font-size: 14px;
      display: inline-block;
      word-break: keep-all; 
      line-height: 1.4;
      word-wrap: break-word; 
      overflow-wrap: break-word; 
      flex-wrap: wrap; 
    }

    .info li {
      word-wrap: break-word;
      overflow-wrap: break-word;
      white-space: normal; 
      max-width: 130%; 
    }    
  }