body {
    background-color: rgb(42, 195, 47);
    margin: 0;
  }

  .container {
    display: flex;
    text-align: left;
    padding: 0;
    margin-right: 100px;
    width: auto;
    background-color: rgb(42, 195, 47);
  }

  li{
    font-size: 20px;
}

  .card {
    height: 100%; 
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  .card-body {
    flex-grow: 1; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.formatura{
    border-radius: 50%;
    height: 300px;
    width: 300px;
    margin-top: 26px;
    margin-right: 10px;
    border: solid red 5px;
    box-shadow: 0 4px 30px black;
}

.info{
  padding-left: 20px;
  margin-bottom: 100px;
  flex: 1;
  background-color: rgb(42, 195, 47);
  margin-left: 20px;
}

  .pneu{
    height: 55px;
    width: 55px;
    background-color: transparent;
    border-radius: 50%;
    border: 17px solid black; 
  }

  .content {
    padding: 20px;
    height: 2000px; 
    text-align: center;
}

  .pneus{
    display: flex;
    gap: 2px;
    flex-wrap: nowrap;
  }

  .pista {
    background-color: #3E3D3D;
    border: solid white 4px;
    width: 100%;
    height: 200px;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    padding: 0;
  }
  

  .linha{
    display: flex;
    align-items: left;
    justify-content: left;
  }

  .branco{
    height: 20px;
    width: 20px;
    background-color: white;
  }

  .preto{
    height: 20px;
    width: 20px;
    background-color: black;
  }

  .branco2{
    height: 16px;
    width: 16px;
    background-color: white;
  }

  .preto2{
    height: 16px;
    width: 16px;
    background-color: black;
  }

  .faixas {
    display: flex;
    gap: 40px;
    flex-wrap: nowrap;
  }

  .faixa {
    height: 15px;
    width: 45px;
    background-color: white;
  }

  #carro {
    position: absolute;
    height: 80px;
    width: 230px;
    margin-left: 40px;
    margin-bottom: 110px;
    background-image: url('../Img/carro.png');
    background-size: cover;
    background-position: center;
    animation: moveCarro 2.5s forwards;
    animation-delay: 5s;
}

@keyframes moveCarro {
    0% { top: 52%; left: 0%; }
    30% { top: 52.6%; left: 110%; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100% { top: 50%; left: 0%;}
    100% { opacity: 0; }
}

#carro2 {
    position: absolute;
    height: 80px;
    width: 230px;
    margin-left: 40px;
    margin-top: 105px;
    background-image: url('../Img/carro.png');
    background-size: cover;
    background-position: center;
    animation: moveCarro2 2.5s forwards;
    animation-delay: 5s;
}

@keyframes moveCarro2 {
    0% { top: 51%; left: 0%; }
    30% { top: 51.4%; left: 110%; }
    50% { opacity: 0; }
    99% { opacity: 0; }
    100% { top: 50%; left: 0%;}
    100% { opacity: 0; }
}

#carro3 {
  position: absolute;
  height: 80px;
  width: 230px;
  margin-left: 40px;
  margin-bottom: 110px;
  background-image: url('../Img/carro.png');
  background-size: cover;
  background-position: center;
  transform: rotate(180deg);
  animation: moveCarro3 10s forwards;
}

@keyframes moveCarro3 {
  0% { opacity: 0;}
  30% { top: 120%; left: 82%;}
  60% { opacity: 0;}
  65% { opacity: 1;}
  70% { top: 120%; left: 110%}
  78% { top: 120%; left: -30%}
  80% { opacity: 1;}
  81% { opacity: 0;}
  100% { top: 120%; left: 0%;}
  100% { opacity: 0;}
}

#carro4 {
  position: absolute;
  height: 80px;
  width: 230px;
  margin-left: 40px;
  margin-top: 105px;
  background-image: url('../Img/carro.png');
  background-size: cover;
  background-position: center;
  transform: rotate(180deg);
  animation: moveCarro3 13s forwards;
}

#carro5 {
  position: absolute;
  height: 80px;
  width: 230px;
  margin-left: 40px;
  margin-top: 105px;
  background-image: url('../Img/carro.png');
  background-size: cover;
  background-position: center;
  animation: moveCarro4 17s forwards;
}

#carro6 {
  position: absolute;
  height: 80px;
  width: 230px;
  margin-left: 40px;
  margin-top: 105px;
  background-image: url('../Img/carro.png');
  background-size: cover;
  background-position: center;
  animation: moveCarro4 18s forwards;
}

@keyframes moveCarro4 {
  0% { opacity: 0;}
  30% { top: 185%; left: 82%;}
  60% { opacity: 0;}
  65% { opacity: 1;}
  70% { top: 185%; left: -30%}
  78% { top: 185%; left: 110%}
  80% { opacity: 1;}
  81% { opacity: 0;}
  100% { top: 185%; left: 0%;}
  100% { opacity: 0;}
}

  header{
    font-size: 32px;
    background-color: #3E3D3D;
    padding-left: 40px;
    padding: 5px;
    display: flex;
    border: solid white 4px;
    border-left: none;
    border-right: none;
}

.typing span {
  display: inline-block;
  opacity: 0;
  animation: typing 0.05s steps(1) forwards;
}

@keyframes typing {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

  .nav-link{
    position: relative;
    font-size: 30px;
    transition: color 0.2s ease, font-size 0.2s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #000000, #ffffff );
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

.nav-link:hover {
  font-size: 31px;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

.devicon{
  height: 100px;
  width: 100px;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.devicon:hover{
  height: 102px;
  width: 102px;
}

.devicon:active{
height: 101px;
width: 101px;
}

footer{
  background-color: #181841;
  color: #ffffff;
  padding-left: 40px;
  margin-top: 100px;
  display: flex;
  height: 100px;
}

.f1-lights {
  display: flex;
  position: relative;
  width: 100%;
  max-width: 400px;
}

.back-board {
  position: absolute;
  left: 5px;
  right: 5px;
  top: 50%;
  height: 5%;
  background: #000;
  transform: translateY(-50%);
  z-index: 0;
}

.light-strip {
  background: black;
  border-radius: 11px;
  margin: 0 8px;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  padding: 10px 0;
}

.light {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #222;
  margin: 8px 0;
}

.vermelho {
  background: red !important;
}

.verde {
  background: rgb(0, 255, 0) !important;
}

.jumbotron {
  padding: 50px;
  text-align: center;
}

section{
  border: inherit;
  border-collapse: inherit;
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
  }
  
  .formatura {
    max-width: 140px; 
    max-height: 140px;
  }

  .card {
    padding: 15px;
  }

  .info h1 {
    word-wrap: break-word;
    overflow-wrap: break-word;
    max-width: 130%; 
  }

  .info p {
    font-size: 14px;
    display: inline-block;
    word-break: keep-all; 
    line-height: 1.4;
    word-wrap: break-word; 
    overflow-wrap: break-word; 
    flex-wrap: wrap; 
  }

  .info li {
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: normal; 
    max-width: 130%; 
  }    

  .pneu{
    height: 10px;
    width: 10px;
    background-color: transparent;
    border-radius: 50%;
    border: 14px solid black; 
  }
  
  .faixa {
    height: 7.5px;
    width: 22.5px;
    background-color: white;
  }

  #carro, #carro2, #carro3, #carro4, #carro5, #carro6 {
    height: 1px;
    width: 1px;
    background-color: transparent;
  }

  .github_stats{
      width: 300px;
    }

  .pista {
    background-color: #3E3D3D;
    border: solid white 4px;
    width: 100%;
    height: 100px;
    border-left: none;
    border-right: none;
    display: flex;
    align-items: center;
    padding: 0;
  }
  
  .branco{
    height: 10px;
    width: 10px;
    background-color: white;
  }

  .preto{
    height: 10px;
    width: 10px;
    background-color: black;
  }

  .branco2{
    height: 8px;
    width: 8px;
    background-color: white;
  }

  .preto2{
    height: 8px;
    width: 8px;
    background-color: black;
  }
}